.main-container {
    margin-bottom: 40%;
}

/*텍스트 안보이게 하는법*/
.boardText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 3.6em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

/*버튼색*/
.btn-outline-color {
    color: #DDDDFF;
    border-color: #DDDDFF;
}

.mt-60px {
    margin-top: 60px;
}


