<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/info-layout}">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
</head>
<div layout:fragment="content" class="container mt-60px content-con" id="info-height">
    <div class="btn-group mb-3">
        <button type="button" class="btn btn-info" th:text="#{info.text}" onclick="infoContainer()"></button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:if="${session.user_Auth == true}" th:text="#{addCategory.info.text}"
               onclick="categoryContainer()"></a>
            <div class="dropdown-divider" th:if="${session.user_Auth == true}"></div>
            <a class="dropdown-item" th:text="#{edit.info.text}" onclick="editContainer()"></a>
            <a class="dropdown-item" th:text="#{delete.info.text}" onclick="deleteContainer()"></a>
        </div>
    </div>
    <div id="info-container">
        <div class="container" style="margin-bottom: 100px;">
            <p th:text="#{email}"></p>
            <div class="alert alert-secondary mb-3" role="alert" th:text="${userInfo.email}">
                email
            </div>
            <p th:text="#{phone}"></p>
            <div class="alert alert-secondary" role="alert" style="margin-bottom: 30px;"
                 th:text="${userInfo.phone}">
                phone number
            </div>
            <div class="accordion" id="accordionExample" th:if="${session.user_Auth == true}">
                <div class="card" th:each="category : ${userInfoCategory}">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    th:attr="data-target='#category'+${category.category_id}" aria-expanded="true"
                                    aria-controls="collapseOne"
                                    th:text="${category.boardCategory}">
                                카테고리 이름
                            </button>
                        </h2>
                    </div>
                    <div th:id="'category'+${category.category_id}" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body" th:if="${category.boardCategory_Ex == null}" style="display: none;">
                            설명
                        </div>
                        <div class="card-body" th:if="${category.boardCategory_Ex != null}"
                             th:text="${category.boardCategory_Ex}">
                            설명
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    카테고리    -->
    <div id="category-container" style="display: none;">
        <div class="accordion mb-5 mt-3" id="accordionExample">
            <div th:each="category : ${userInfoCategory}">
                <div class="form-check">
                    <input class="form-check-input" style="top:28%;" type="checkbox" value="" id="defaultCheck1">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                        th:attr="data-target='#category'+${category.category_id}+'a'"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                        th:text="${category.boardCategory}" onclick="checkSize()">
                                    카테고리 이름
                                </button>
                            </h2>
                        </div>
                        <div th:id="'category'+${category.category_id}+'a'" class="collapse"
                             aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body" th:if="${category.boardCategory_Ex == null}"
                                 style="display: none;">
                                설명
                            </div>
                            <div class="card-body" th:if="${category.boardCategory_Ex != null}"
                                 th:text="${category.boardCategory_Ex}">
                                설명
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="category-submit" style="display: none;">
        <form th:action="@{addCategory}" method="post" th:object="${boardDto}">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="category-input-email"
                           th:placeholder="#{board.category}"
                           th:field="*{boardCategory}">
                    <small th:if="${#fields.hasErrors('boardCategory')}" th:errors="*{boardCategory}"
                           class="text-danger"></small>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="category-input-password"
                           th:placeholder="#{info.category.exText}"
                           th:field="*{boardCategory_Ex}">
                </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-5" th:text="#{addCategory.info.text}"></button>
            <button type="button" class="btn btn-danger mt-5" th:text="#{delete.category.text}"></button>
        </form>
    </div>
    <!--    수정      -->
    <div id="edit-container" style="display: none;">
        <form>
            <div class="form-group">
                <label for="edit-email" th:text="#{email}">Email address</label>
                <input type="email" class="form-control" id="edit-email">
            </div>
            <div class="form-group">
                <label for="edit-password" th:text="#{password}">Password</label>
                <input type="password" class="form-control" id="edit-password">
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{edit.text}"></button>
        </form>
    </div>
    <!--    삭제      -->
    <div id="delete-container" style="display: none;">
        <div class="alert alert-danger" role="alert" th:text="#{delete.info.dangerMessage}"></div>
        <form>
            <div class="form-group">
                <label for="delete-email" th:text="#{email}">Email address</label>
                <input type="email" class="form-control" id="delete-email">
            </div>
            <div class="form-group">
                <label for="delete-passowrd" th:text="#{password}">Password</label>
                <input type="password" class="form-control" id="delete-passowrd">
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{delete.info.text}"></button>
        </form>
    </div>
</div>
</html>