<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="css/Login_form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container Login-container SignUp-container">
    <form class="form-horizontal" th:action="@{/signUp}" method="post" th:object="${signUpDto}">
        <div class="form-group">
            <p class="title"><a href="index" class="title" th:text="#{title}"></a></p>
            <p class="small-title" th:text="#{signUp.title}"></p>
            <label for="Email" class="col-sm-2 control-label" th:text="#{email}"></label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
<!--                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
                <!-- 같은 이메일이 있을 시 에러 -->
                <p th:if="${sameEmailError != null}" th:text="#{sameEmail.Error}" class="text-danger"
                   id="error-message">
                    sameEmailError</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-2 control-label" th:text="#{password}"></label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="Password" name="Password"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="col-sm-2 control-label" th:text="#{phone}"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Phone" name="Phone"
                       placeholder="Phone-Number">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{signUp}"></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>